Tendremos otro ejemplo simple sobre la prueba t de dos muestras (pooled- cuando las varianzas son iguales). Pero esta vez, se trata de una prueba t unilateral.
En una planta de empaque, una máquina empaca cajas con frascos. Se supone que una nueva máquina empacará más rápido en promedio que la máquina actualmente utilizada. Para probar esa hipótesis, se registran los tiempos que lleva a cada máquina empacar diez cajas. Los resultados, en segundos, se muestran en las tablas en el archivo files_for_lab/machine.txt.
Suponiendo que hay suficiente evidencia para realizar la prueba t, ¿los datos proporcionan suficiente evidencia para mostrar si una máquina es mejor que la otra?

In [1]:
import pandas as pd # manipulación de datos
import numpy as np # operaciones matemáticos
import matplotlib.pyplot as plt # visualización
import scipy.stats as st # estadística
import seaborn as sns
import statsmodels.api as sm 
%matplotlib inline
pd.set_option('display.max_columns', None)

# Trying new things to open txt files
file = open('.txt', 'rb').read() # opening the file in binary, as bytes
result = chardet.detect(file) # detecting the type of encoding
encoding = result['encoding'] # saving the results

# opening the dataframe
df = pd.read_fwf('.txt', encoding=encoding)
df.head(10)

In [2]:
import chardet
nombre_archivo = 'machine.txt'

with open(nombre_archivo, 'rb') as f:
    result = chardet.detect(f.read())
    codificacion_detectada = result['encoding']

df = pd.read_csv(nombre_archivo, delimiter='\t', encoding=codificacion_detectada)

df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [3]:
dfcopy = df.copy()

In [10]:
alpha = 0.05

In [6]:
dfcopy.columns

Index(['New machine', '    Old machine'], dtype='object')

In [7]:
_, p_value = st.ttest_rel(df["New machine"], df["    Old machine"])

In [8]:
p_value

0.013540335651632521

In [11]:
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypothesis")

We reject the null hypothesis

# SEGUNDO

Un problema adicional (no obligatorio): En este caso, no podemos asumir que las varianzas de la población son iguales. Por lo tanto, en este caso no podemos agrupar las varianzas.
Muestras aleatorias independientes de 17 estudiantes de segundo año y 13 estudiantes de tercer año que asisten a una gran universidad producen los siguientes datos sobre promedios de calificaciones. Los datos se proporcionan en el archivo files_for_lab/student_gpa.txt.
A un nivel de significancia del 5%, ¿los datos proporcionan suficiente evidencia para concluir que los promedios de calificaciones de los estudiantes de segundo año y de tercer año en la universidad difieren?

In [ ]:
student_gpa.txt

In [13]:
with open("student_gpa.txt", 'rb') as f:
    result = chardet.detect(f.read())
    codificacion_detectada = result['encoding']

df = pd.read_csv("student_gpa.txt", delimiter='\t', encoding=codificacion_detectada)

df

    Sophomores    Juniors
0         3.04       2.56
1         1.71       2.77
2         3.30       2.70
3         2.88       3.00
4         2.11       2.98
5         2.60       3.47
6         2.92       3.26
7         3.60       3.20
8         2.28       3.19
9         2.82       2.65
10        3.03       3.00
11        3.13       3.39
12        2.86       2.58
13        3.49        NaN
14        3.11        NaN
15        2.13        NaN
16        3.27        NaN

In [14]:
t_statistic, p_value = st.ttest_ind(df["Sophomores"], df['  Juniors'], equal_var=False, nan_policy='propagate')

In [15]:
t_statistic, p_value

(nan, nan)

In [16]:
t_statistic, p_value = st.ttest_ind(df["Sophomores"], df['  Juniors'], equal_var=False, nan_policy='omit')

In [17]:
t_statistic, p_value

(-0.9231495630900278, 0.3642180675348571)

In [19]:
p_value = 0.3642180675348571

In [20]:
if p_value > alpha:
    print("We are not able to reject the null hypothesis")
else:
    print("We reject the null hypothesis")

We are not able to reject the null hypothesis